services:
  frontend:
    image: dhruv2k3/alluvium-frontend:latest
    container_name: frontend
    ports:
      - "3000:3000"
    env_file:
      - .env
    networks:
      - alluvium-net
networks:
  alluvium-net:
    driver: bridge