services:
  frontend:
    image: dhruv2k3/biasbreaker-frontend:latest
    container_name: frontend
    ports:
      - "3000:3000"
    env_file:
      - .env
    networks:
      - biasbreaker-net
networks:
  biasbreaker-net:
    driver: bridge